* {
  padding: 0;
  margin: 0;
}
body {
  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  background-color: #fff;
  color: #1d1d1f;
  font-style: normal;
}
/* Header Style */
.nav-wrapper {
  background: rgba(0, 0, 0, 0.8);
  font-size: 0.85em;
  font-weight: 200;
}
.nav-wrapper img {
  width: 18px;
}
.nav-wrapper ul li a {
  color: #fff;
}
.navbar-toggler {
  color: #fff;
}
.nav-item {
  text-align: left !important;
  padding: 4px 0;
  border-bottom: 1px solid #4b4b4b;
}

.covid-19 {
  padding: 10px 20px;
  margin-top: 55px;
  background: #0071e3;
  font-size: 14px;
  text-align: center;
}
.evaluate-link-wapper a {
  padding: 50px;
  color: #f5f5f7;
  font-weight: 600;
}

.evaluate-link-wapper a:after {
  font-family: "FontAwesome";
  content: "\f105";
  color: #f5f5f7;
  padding-left: 10px;
  text-decoration: none;
  display: inline-block;
}
.upper-text a {
  color: #06c;
  letter-spacing: inherit;
  font-size: 14px;
  padding: 12px;
}
.upper-text .text {
  font-size: 14px;
  padding: 12px 0;
}
.upper-text {
  margin: 0 30px;
}

/* Footer Styling */
.footer-wrapper {
  background-color: #f5f5f7;
  color: #86868b;
  font-size: 0.7em;
}
.footer-wrapper ul {
  list-style: none;
  padding-bottom: 10px;
  padding-inline-start: 0px;
}
.footer-wrapper ul a {
  color: #515154;
}
.my-apple-wrapper {
  padding-bottom: 15px;
  margin-top: 10px;
}
.copyright {
  margin-top: 15px;
}
.footer-country {
  margin-top: 8px;
}
.flag-wrapper {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
}
.footer-country-name {
  display: inline-block;
  vertical-align: middle;
}
.footer-links-terms ul {
  display: flex;
}
.footer-links-terms ul li {
  margin: 10px;
  padding: 0 10px;
  border-right: 1px solid #d2d2d7; 
 
}

.footer-links-terms ul li:first-child {
  padding-left: 0;
}
.footer-links-terms ul li:last-child {
  border-right: 0;
}

.footer-links-wrapper h3 {
  font-size: 12px;
  font-weight: 600;
  color: #1d1d1f;
  /* cursor: grab; */
}

.footer-wrapper ul li {
  padding: 4px 0;
}
.upper-text-container {
  border-bottom: 1px solid #d2d2d7;
  padding: 17px 0 10px;
  margin-bottom: 20px;
}
.upper-text-container a {
  color: #515154;
}

.upper-text {
  background-color: #fbfbfb;
  font-size: 14px;
  padding: 12px 0;
}
.text {
  font-size: 14px;
}
.links-wrapper {
  padding: 5px 0 0px;
}
.links-wrapper ul li {
  display: inline-block;
  padding-right: 20px;
}
.links-wrapper ul li a {
  color: #06c;
  text-decoration: none;
  font-size: 18px;
}
.links-wrapper ul li a:hover {
  color: #06c;
  text-decoration: underline;
}
.links-wrapper ul li a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f105";
  padding-left: 10px;
  text-decoration: none;
  display: inline-block;
}
.main-title-wrapper.bold {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.15em;
  letter-spacing: -0.04em;
  padding: 30px 0 5px;
}
.main-title-wrapper.white {
  color: #f5f5f7;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.15em;
  letter-spacing: -0.04em;
  padding: 30px 0 5px;
}
.title-wrapper.black {
  font-size: 20px;
  letter-spacing: -0.04em;
  padding-bottom: 10px;
}
.title-wrapper.white {
  color: #f5f5f7;
}
.description-wrapper {
  font-size: 20px;
  padding: 10px 10px;
  color: #fff;
}
.gg {
  font-size: 14px;
  padding: 10px 10px;
  color: #808080;
}
.price-wrapper {
  font-size: 14px;
  color: #808080;
}

.main-highlight-wrapper {
  background-image: url("../images/home/iphone_12_small.jpg");
  background-position: center;
  height: 500px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-bottom: 10px;
}

.first-highlight-wrapper {
  background-image: url("../images/home/iphone_12_pro_small.jpg");
  background-position: center;
  height: 500px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 20px 0;
}
.second-heghlight-wrapper {
  background-image: url("../images/home/apple_card_small.jpg");
  background-position: center;
  height: 480px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: bottom;
  margin: 20px 0;
}
.terms {
  color: #808080;
  font-size: 12px;
}
.logo-wrapper {
  padding-top: 30px;
}
.third-heghlight-wrapper .left-side-wrapper .left-side-container {
  background-image: url("../images/home/ipad-air-2small.jpg");
  padding-bottom: 35px;
  margin: 20px 0;
  background-size: cover;
  background-position: bottom;
  height: 520px;
  text-align: center;
}
.third-heghlight-wrapper .right-side-wrapper .right-side-container {
  background-image: url("../images/home/watch-small.jpg");
  background-color: #000;
  background-position: bottom;
  padding-top: 20px;
  text-align: center;
  background-repeat: no-repeat;
  height: 520px;
  margin-top: 10px;
}

.ipad-air {
  padding: 400px 0 0px;
}
h3 {
  font-size: 20px;
  color: #808080;
  padding-top: 30px;
}

.fourth-heghlight-wrapper .left-side-wrapper {
  background-image: url("../images/home/macbook_air_small.jpg");
  /* background-color: #000; */
  background-position: bottom;
  padding-top: 35px;
  margin: 40px 0;
  height: 480px;
  background-position: center;
  text-align: center;
}
.fourth-heghlight-wrapper .right-side-wrapper .right-side-container {
  background-image: url("../images/home/fitness-small.jpg");
  margin-top: 30px;
  height: 480px;
  background-position: center;
  background-position: bottom;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 720px;
}

.logo-wrapper {
  padding: 20px 0;
}

/*Fifth Section*/
.fifth-heghlight-wrapper .right-side-wrapper .right-side-container {
  background-image: url("../images/home/woman_small.jpg");
  background-position: center;
  text-align: center;
  background-position: bottom;
  height: 480px;
}
.fifth-heghlight-wrapper .left-side-wrapper .left-side-container {
  background-image: url("../images/home/one-small.jpg");
  padding-bottom: 35px;
  margin: 0px 0;
  background-size: cover;
  background-position: bottom;
  height: 520px;
  text-align: center;
  background-size: 400px;
  background-repeat: no-repeat;
}
.links-wrapper-blue {
  padding: 5px 0 0px;
}
.links-wrapper-blue ul li {
  display: inline-block;
  padding-right: 20px;
}
.links-wrapper-blue ul li a {
  color: #06c;
  text-decoration: none;
  font-size: 18px;
}
.links-wrapper-blue ul li a:hover {
  color: #06c;
  text-decoration: underline;
}
.links-wrapper-blue ul li:first-child ::after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f105";
  padding-left: 10px;
  text-decoration: none;
}
.links-wrapper-blue ul li a:last-child sup::after {
  font-family: "FontAwesome";
  content: "\1F865";
  font-size: 20px;
  display: inline-block;
  flex-direction: column;
}

.fifth-heghlight-wrapper .description-wraper {
  padding-top: 0px;
  margin-top: 0px;
}
.watch-more-wrapper a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  padding: 20px;
}
.watch-more-wrapper a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f144";
  padding-left: 15px;
}
.tvshow-logo-wraper {
  padding: 280px 0 0px;
  color: #fff;
  font-size: 20px;
}

/*Media Query*/
/* Footer */
@media (max-width: 768px) {
  .footer-links-wrapper ul {
    display: none;
  }

.fa-plus {
    font-size: 10px;
   color: #494444;
  }

 .fa-times {
    font-size: 10px;
    color: #494444;
  }
  .footer-links-wrapper h3 {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }
  
}
@media (min-width: 768px) {
  /*Nav bar*/
  .nav-item {
    text-align: center !important;
    padding: 0;
    border-bottom: 0px;
  }
  /*Footer styling*/
  .my-apple-wrapper {
    border-bottom: 1px solid #d2d2d7;
  }
  .fa-plus {
    display: none;
  }

  .fa-times {
    display: none;
  }
  .main-highlight-wrapper {
    background-image: url("../images/home/iphone_12_large.jpg");
    background-position: center;
    height: 500px;
    text-align: center;
  }
  /* <!-- $ git config --global user.name "John Doe" */
    /* $ git config --global user.email johndoe@example.com --> */
  .main-title-wrapper.bold {
    color: #000;
    font-size: 50px;
  }
  /* First section */
  .first-highlight-wrapper {
    background-image: url("../images/home/iphone-12-larg.jpg");
    height: 580px;
    padding: 20px 0;
  }
  .main-title-wrapper.white {
    font-size: 50px;
  }
  .title-wrapper.white {
    font-size: 30px;
  }
  .description-wrapper br {
    display: none;
  }
  .price-wrapper br {
    display: none;
  }

  .second-heghlight-wrapper {
    background-image: url("../images/home/Apple-card-large.jpg");
  }
  .main-title-wrapper {
    font-size: 50px;
    color: #fff;
  }
  
  .third-heghlight-wrapper .right-side-wrapper .right-side-container {
    background-image: url("../images/icons/logo-watch-large.png");
  }
  .third-heghlight-wrapper .right-side-wrapper .right-side-container {
    background-image: url("../images/home/watch_medium_2x\ \(2\).jpg");
    background-size: 200px;
  }
  .fourth-heghlight-wrapper .left-side-wrapper {
    background-image: url("../images/home/macbook_air_large.jpg");
  }
  .fourth-heghlight-wrapper .right-side-wrapper .right-side-container {
    background-image: url("../images/home/fitness_medium_2x.jpg");
  }
  .fifth-heghlight-wrapper .right-side-wrapper .right-side-container {
    background-image: url("../images/home/women_large.jpg");
    height: 520px;
  }
  /* .fifth-heghlight-wrapper .right-side-wrapper .right-side-container.logo-wrapper{
   background-image: url("../images/icons/logo_women_large.png");
   padding-bottom: 480px;
} */
}
@media (min-width: 992px) {
  /*Footer styling*/
  .copyright {
    margin-top: 10px;
  }
  .footer-country {
    margin-top: 10px;
  }
  .footer-links-terms {
    margin-top: 10px;
  }
  .footer-links-terms ul li {
    border-right: 1px solid #d2d2d7;
    margin-right: 10px;
    padding-right: 10px;
}


 
  .third-heghlight-wrapper .left-side-wrapper .left-side-container {
    background-image: url("../images/home/air_large\ \(1\).jpg");
  }
  .fourth-heghlight-wrapper .right-side-wrapper .right-side-container {
    background-image: url("../images/home/fitness_large.jpg");
  }
}
